$code-font-size: 1rem;
$pre-padding: 1em;

$scroll-thumb-bg: #575d7c;
$scroll-thumb-bg-light: #ced4da;
$scroll-thumb-bg-hover: #81869e;
$scroll-thumb-bg-hover-light: #adb5bd;
$scroll-track: transparent;
$scroll-track-light: transparent;

$prism-bg: #2f3240;
$prism-bg-light: #f7f7f7;
$prism-color: #eee;
$prism-color-light: #525252;
$prism-border: #3b3e54;
$prism-border-light: #e4e2e2;
$prism-line-number-border: #666;
$prism-line-number-border-light: #bbb;
$prism-selection: #75a7ca;
$prism-selection-light: #b3d4fc;
$prism-highlight-line-bg: #8b8a6d69;
$prism-highlight-line-bg-light: #dfdfdf;
$prism-highlight-line-add-bg: #0d6c163d;
$prism-highlight-line-add-bg-light: #00c7134f;
$prism-highlight-line-remove-bg: #7039395e;
$prism-highlight-line-remove-bg-light: #ff9f9f94;
$prism-code-title-bg: #c6c6c6;
$prism-code-title-bg-light: #545454;
$prism-code-title-color: #100d0d;
$prism-code-title-color-light: #fff;

$prism-token-doctype: #9cdcfe;
$prism-token-doctype-light: slategray;
$prism-token-doctype-tag: #90cdff;
$prism-token-doctype-tag-light: green;
$prism-token-comment: #6a9955;
$prism-token-comment-light: #007979;
$prism-token-number: #b5cea8;
$prism-token-number-light: #b854f6;
$prism-token-string: #ce9178;
$prism-token-string-light: #ca4f0e;
$prism-token-function: #efefac;
$prism-token-function-light: #2e68fc;
$prism-token-class-name: #4ec9b0;
$prism-token-class-name-light: #3b8fce;
$prism-token-variable: $prism-token-doctype;
$prism-token-variable-light: #905;
$prism-token-selector: #d7ba7d;
$prism-token-selector-light: #690;
$prism-token-cdata: #808080;
$prism-token-cdata-light: slategray;
$prism-token-regex: #d16969;
$prism-token-regex-light: #e90;
$prism-token-rule: #c586c0;
$prism-token-rule-light: #c7254e;
$prism-token-attr-name: #9cdcfe;
$prism-token-attr-name-light: #007cbe;
$prism-token-parameter: #9cdcfe;
$prism-token-parameter-light: #b61bb6;
$prism-token-constant: #c5acfa;
$prism-token-constant-light: #4f1fb6;

/**
  For dark / light themes
*/

@mixin dark-vars() {
  --prism-bg: #{$prism-bg};
  --prism-color: #{$prism-color};
  --prism-border: #{$prism-border};
  --prism-line-number-border: #{$prism-line-number-border};
  --prism-selection: #{$prism-selection};
  --prism-token-doctype: #{$prism-token-doctype};
  --prism-token-doctype-tag: #{$prism-token-doctype-tag};
  --prism-token-comment: #{$prism-token-comment};
  --prism-token-number: #{$prism-token-number};
  --prism-token-string: #{$prism-token-string};
  --prism-token-function: #{$prism-token-function};
  --prism-token-class-name: #{$prism-token-class-name};
  --prism-token-variable: #{$prism-token-variable};
  --prism-token-selector: #{$prism-token-selector};
  --prism-token-cdata: #{$prism-token-cdata};
  --prism-token-regex: #{$prism-token-regex};
  --prism-token-rule: #{$prism-token-rule};
  --prism-token-attr-name: #{$prism-token-attr-name};
  --prism-token-parameter: #{$prism-token-parameter};
  --prism-token-constant: #{$prism-token-constant};
  --prism-highlight-line-bg: #{$prism-highlight-line-bg};
  --prism-highlight-line-add-bg: #{$prism-highlight-line-add-bg};
  --prism-highlight-line-remove-bg: #{$prism-highlight-line-remove-bg};
  --scroll-thumb-bg: #{$scroll-thumb-bg};
  --scroll-thumb-bg-hover: #{$scroll-thumb-bg-hover};
  --scroll-track: #{$scroll-track};
  --prism-code-title-bg: #{$prism-code-title-bg};
  --prism-code-title-color: #{$prism-code-title-color};
}

@mixin light-vars() {
  --prism-bg: #{$prism-bg-light};
  --prism-color: #{$prism-color-light};
  --prism-border: #{$prism-border-light};
  --prism-line-number-border: #{$prism-line-number-border-light};
  --prism-selection: #{$prism-selection-light};
  --prism-token-doctype: #{$prism-token-doctype-light};
  --prism-token-doctype-tag: #{$prism-token-doctype-tag-light};
  --prism-token-comment: #{$prism-token-comment-light};
  --prism-token-number: #{$prism-token-number-light};
  --prism-token-string: #{$prism-token-string-light};
  --prism-token-function: #{$prism-token-function-light};
  --prism-token-class-name: #{$prism-token-class-name-light};
  --prism-token-variable: #{$prism-token-variable-light};
  --prism-token-selector: #{$prism-token-selector-light};
  --prism-token-cdata: #{$prism-token-cdata-light};
  --prism-token-regex: #{$prism-token-regex-light};
  --prism-token-rule: #{$prism-token-rule-light};
  --prism-token-attr-name: #{$prism-token-attr-name-light};
  --prism-token-parameter: #{$prism-token-parameter-light};
  --prism-token-constant: #{$prism-token-constant-light};
  --prism-highlight-line-bg: #{$prism-highlight-line-bg-light};
  --prism-highlight-line-add-bg: #{$prism-highlight-line-add-bg-light};
  --prism-highlight-line-remove-bg: #{$prism-highlight-line-remove-bg-light};
  --scroll-thumb-bg: #{$scroll-thumb-bg-light};
  --scroll-thumb-bg-hover: #{$scroll-thumb-bg-hover-light};
  --scroll-track: #{$scroll-track-light};
  --prism-code-title-bg: #{$prism-code-title-bg-light};
  --prism-code-title-color: #{$prism-code-title-color-light};
}