@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }
}

@layer components {
  .thi-bg {
    @apply bg-white dark:bg-bg-main-dark;
  }

  /* Don't forget to change manually for "wave-stone" and "wave-footer-stone" classes in tailwind.config.js */
  .thi-bg-stone {
    @apply bg-stone-100;
  }

  .thi-text-color {
    @apply text-main dark:text-main-dark;
  }

  /* Display as normal text except hoving or on small screen */
  .thi-link-normal {
    @apply md:thi-text-color w-fit text-link dark:text-link-dark
    md:hover:text-pink-500 md:dark:hover:text-link-dark;
  }
  /* For bg always in dark mode */
  .thi-link-normal-always-dark {
    @apply w-fit text-link-dark md:text-main-dark md:hover:text-link-dark;
  }

  .thi-link {
    @apply text-link transition-colors duration-150
    hover:text-pink-500 dark:text-link-dark dark:hover:text-pink-300;
  }
  .thi-link-always-dark {
    @apply text-link-dark transition-colors duration-150 hover:text-pink-300;
  }

  .thi-transition-dark {
    @apply transition-colors duration-200 ease-in-out;
  }

  .thi-box-code {
    @apply thi-transition-dark thi-bg thi-text-color rounded-lg shadow-lg
    dark:border dark:border-bd-dark;
  }

  .thi-badge-code {
    @apply thi-transition-dark thi-text-color flex h-6 w-fit items-center
    justify-center rounded-md border bg-stone-100 px-1 align-baseline text-base
    shadow-sm !transition duration-200 ease-in-out hover:-translate-y-0.5
    dark:border-bd-dark dark:bg-[#343e4c];
  }

  .thi-title {
    @apply font-heading text-3xl font-semibold text-main-dark;
  }
}
